.blog-article {
    margin-bottom: 2rem;
    line-height: 1.8;
    color: #333;
  }
  
  .blog-article h4 {
    margin-top: 2rem;
    color: #0d6efd;
    font-weight: 600;
  }
  
  .blog-article ul {
    padding-left: 1.5rem;
    margin-top: 1rem;
  }
  
  .blog-article li {
    margin-bottom: 0.5rem;
  }
  